beautifulsoup4==4.6.0
bokeh==0.12.13
certifi==2018.1.18
chardet==3.0.4
ConfigArgParse==0.12.0
coursera-dl==0.9.0
cycler==0.10.0
Django==2.0.1
idna==2.6
Jinja2==2.10
keyring==10.6.0
MarkupSafe==1.0
matplotlib==2.1.2
numpy==1.14.0
pyasn1==0.4.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pywin32-ctypes==0.1.2
PyYAML==5.1
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
tornado==4.5.3
urllib3==1.22
wincertstore==0.2
